.invite {
  position: relative;
  height: 75px;
}

.jumbotron {
  height: auto;
  vertical-align: center;
  background-color: rgb(255, 98, 0);
}

.jumbotron h1 {
  padding: 0;
}

.footer {
  background-color: rgb(255, 98, 0);
  display: block;
  color: white;
  position: bottom;
  bottom:0;
  width:100%;
  height:100px;
  clear: both;
}

.header {
  background-color: rgb(255, 98, 0);
  margin: 0;
}

.footer a {
  color: white;
}

.column {
  text-align: center;
  vertical-align: middle;
  background-color: rgb(255, 98, 0)
}

ul {
  list-style: none;
}

.menuItem:hover {
  cursor: pointer;
}

.menuList {
  display: inline-block;
  width: 20%;
  float: left;
  position: fixed;
  top: 40%
  
}

.menuDetails {
  border: 2px solid black;
  display: inline-block;
  width: 80%;
  float: right;
  text-align: center;
}

.menuItem {
  border-bottom: 1px dotted black;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.menuItem:last-child {
  border-bottom: 0;
}

.title {
  text-align: center;
  background-color: rgb(255, 98, 0);
  margin-bottom: 0;
  padding-bottom: 10px;
}

.menus {
  background-color: rgb(255, 98, 0);
}